body{
    background-image: linear-gradient(to right, navy, skyblue, white );
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: orange;
}

a{
    color:orange;
    text-decoration: none;
}

a:hover{
    color: red;
    
}

li{
    display: inline;
    padding: 10px;
    list-style-type: none;
}